# GitHub documentation for ignoring files
# https://help.github.com/articles/ignoring-files/

# Dependencies
venv/
frontend/node_modules/
frontend/node_modules/.cache/
# /.pnp
# .pnp.js

# Python dependencies 
frontend/.env
__pycache__/
*.pyc
*.pyo

# Database
# db.sqlite3
# backend/media/
# db.sqlite3
# backend/db.sqlite3

# Caches and Logs 
.pytest_cache/

# Node/npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
backend/apps/electionStatistics/management/data/nationalAssembly5-2024.xlsx
backend/database/national-assembly-5-2024.sqlite3
backend/core/management/data/na_5_2024_electors.xlsx
backend/core/management/data/na_5_2024_electorsx.csv
backend/core/management/data/national_assembly_5_2024.xlsx
backend/core/management/data/nationalAssembly5-2024 copy.xlsx
backend/core/management/data/national_assembly_5_2024.xlsx
backend/core/management/data/~$na_5_2024_electors.xlsx
.env
.env
.env
.env
