# GitHub documentation for ignoring files
# https://help.github.com/articles/ignoring-files/

# ---------------------------------------
# Dependencies
# ---------------------------------------

# Node modules and related
frontend/node_modules/
frontend/node_modules/.cache/

# /.pnp
# .pnp.js

# Python dependencies ---------------------------------------
venv/
__pycache__/
*.pyc
*.pyo

# Database
# db.sqlite3
# backend/media/
# db.sqlite3
# backend/db.sqlite3

# Caches and Logs ---------------------------------------
# Python caches
.pytest_cache/

# Node/npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configuration & Environment
# ---------------------------------------

# OS generated
# .DS_Store

# Environment variables and secrets
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local

# Dependency Locks ---------------------------------------
# While many projects include them, if you choose not to:
# package-lock.json
# yarn.lock
__pycache__/

# Build Output ---------------------------------------

# Compiled frontend assets
# frontend/build/

# Miscellaneous ---------------------------------------
# Code coverage reports (if generated)
# /coverage
